.field-array .array-item {
  position: relative;
  border: #eaeaea 1px solid;
  margin: 0px 0px 20px;
  padding: 30px 15px 0px;
  background: #f9f9f9;
}

.field-array .array-item-toolbox {
  position: absolute;
  top: 0px;
  right: 0px;
}

.field-array .array-item-toolbox .btn-group .btn {
  border-radius: 0;
  font-size: 12px;
  padding: 0px;
}

.field-array .array-item-toolbox .btn-group .btn i {
  font-size: 9px;
}

.field-array .btn-add::after {
  content: " Add Another";
}

.autocomplete-dropdown-container {
  bottom: -10px;
  position: relative;
  z-index: 1000;
  width: 100%;
}

.autocomplete-dropdown-container .suggestion {
  padding: 10px;
}
.autocomplete-dropdown-container .loading {
  padding: 10px;
}

.autocomplete-dropdown-container .suggestion:hover {
  background-color: #deebff;
}
.autocomplete-dropdown-container .suggestion.active {
  background-color: #deebff;
}

.autocomplete-dropdown-container .wrapper {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  top: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 0 0 4px 4px;
  background-color: white;
  width: 100%;
}

.is-list .react-select__multi-value {
  width: 100%;
  flex: 0 0 100%;
  justify-content: space-between;
}

.is-list .react-select__input:focus-within {
  position: initial !important;
}

.is-list .react-select__value-container {
  min-height: 30px;
  height: unset;
}
.is-list .react-select__input {
  position: absolute !important;
}

.is-list div[class$="-Input"]:focus-within {
  position: initial !important;
}

.is-list div[class$="-Input"] {
  position: absolute !important;
}

.Select-menu-outer {
  z-index: 9999 !important;
}

.dropzone {
  background-color: #f9f9f9;
  display: flex;
  border: 2px #999 dashed;
  margin: 2px;
  border-radius: 4px;
  text-align: center;
  height: 100px;
}

.dropzone p {
  margin: auto;
}

.file-display.container {
  margin: 10px auto;
}

.buttonCell {
  width: 100%;
}

.headerCell {
  vertical-align: middle !important;
}

.input_table_cell_0-0,
.input_table_cell_1-1,
.input_table_cell_2-2,
.input_table_cell_3-3,
.input_table_cell_0-1,
.input_table_cell_1-2,
.input_table_cell_2-3,
.input_table_cell_3-4,
.input_table_cell_4-4,
.input_table_cell_2-1,
.input_table_cell_3-2 {
  background-color: #fffa5b;
}
.input_table_cell_1-0,
.input_table_cell_2-0,
.input_table_cell_3-0,
.input_table_cell_3-1,
.input_table_cell_4-0,
.input_table_cell_4-1,
.input_table_cell_4-2,
.input_table_cell_4-3 {
  background-color: #a0de91;
}

.input_table_cell_0-2,
.input_table_cell_0-3,
.input_table_cell_0-4,
.input_table_cell_1-3,
.input_table_cell_1-4,
.input_table_cell_2-4 {
  background-color: #ffa293;
}
